@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="http://linkedin.com/in/vahid-askarifar-555a907a" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
